@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1920px;
    padding: 0px 115px;
    margin: 0 auto;
}

.main-header {
    background-image: url(./IMG/HERO-BANNER.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.navi {
    display: flex;
    gap: 41px;
    color: aliceblue;
    list-style-type: none;
}

.navi li a {
    color: #ffff;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 15px;
    padding-top: 47px;
    padding-bottom: 160px;
}

.login-button a {
    font-family: 'Mulish', sans-serif;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 5.72px;
    font-size: 17px;
    font-weight: 600;
    color: #ffff;
    background-color: orange;
}

.main-text h2 {
    color: #ffff;
    font-size: 68.6px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.main-text p {
    color: #ffff;
    font-size: 17.15px;
    font-family: 'Mulish', sans-serif;
    padding-bottom: 33px;
    text-align: center;
}

.orng {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 36px;
    padding-bottom: 130px;
}

.orng .btn {
    background-color: #ffa500;
}

.orng a {
    padding: 16px 39px;
    border-radius: 7px;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    /* padding-bottom: 131px; */
    font-family: 'Mulish', sans-serif;

}

.orange-button,
.white {
    color: #ffff;
    font-size: 17px;
    text-decoration: underline;
    font-family: 'Mulish', sans-serif;
}

/* SERVICES */
.services h1 {
    font-size: 57px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #292929;
    padding-bottom: 15px;
    text-align: left;

}

.border-bottom {
    border-top: 7px solid orange;
    width: 175px;
}

.services .p-tag {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
    padding-bottom: 48px;
    text-align: left;
    padding-top: 32px;
}

.services {
    padding-top: 150px;
}

/* CARDS */
.cards {
    display: flex;
    gap: 170px;
    padding-left: 0px;
}

.card h6 {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Mulish', sans-serif;
    padding-bottom: 30px;
}

.card p {
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
}

.quality h1 {
    font-size: 57px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #292929;
    padding-bottom: 15px;
    text-align: left;
    padding-top: 150px;
}

.quality p {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
    padding-bottom: 48px;
    text-align: left;
    padding-bottom: 45px;
}

.image-cards {
    display: flex;
    gap: 30px;
}

.image-body h6 {
    padding-top: 28px;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Mulish', sans-serif;
}

.image-body p {
    padding-top: 30px;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
    padding-bottom: 145px;
}

/* WORKING WITH */
.working-with {
    padding-top: 79px;
}

.slider-img img {
    width: 100%;
}

.main-slider {
    position: relative;
}

.slider {
    position: absolute;
    top: 50px;
}

.slider-description h2 {
    color: #ffff;
    font-size: 57px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-bottom: 56px;
}

.slider-description p {
    color: #ffff;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
    padding-bottom: 213px;
}

/* ABOUT LOGGIE */
.loggie {
    display: flex;
    gap: 393px;
}

.about-loggie h1 {
    padding-top: 189px;
    font-size: 57px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #292929;
    padding-bottom: 58px;
}

.about-loggie p {
    color: #292929;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
    padding-bottom: 39px;
}

.four-square {
    padding-top: 136px;
    padding-bottom: 166px;
    width: 50%;
}

.orange-button {
    padding-top: 36px;
    display: flex;

}

.orange-button,
.buton {
    background-color: #ffa500;
    color: #f8f7f7;
    padding: 12px 39px;
    border-radius: 7px;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    padding-right: 42px;
    font-family: 'Mulish', sans-serif;
}

.orange-button,
.white {
    /* padding: 16px 39px;
    border-radius: 7px; */
    font-weight: 700;
    font-size: 15px;
    color: #292929;
    text-decoration: none;
    display: inline-block;
    text-decoration: underline;
    /* padding-bottom: 131px; */
    font-family: 'Mulish', sans-serif;
    padding-left: 41px;
}

.news-letter h1 {
    font-size: 57px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #292929;
    padding-bottom: 68px;
}

.news-letter p {
    color: #292929;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
    padding-bottom: 48px;
}

/* form {
    padding-bottom: 160px;
} */

/* .news-letter {
    display: flex;
} */
.letter {
    padding-right: 267px;
    padding-bottom: 135px;
}

.name {
    border: 1px solid #ffa500;

}

.email {
    border: 1px solid orange;
}

form .submit-icon {
    border: 1px solid #ffa500;
    background-color: #ffa500;
    color: #fff;
    padding: 21px;
    border-radius: 11px;
    cursor: pointer;
}

.new-letter {
    display: flex;
}


/* .flying img {
    padding-top: 200px;
} */

/* FOOTER */
footer {
    background-color: #f8f7f7;
    width: 100%;
}

.footers {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.footerss h3 {
    padding-top: 49px;
    color: #292929;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-bottom: 45px;
}

.footerss p {
    color: #292929;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
    padding-bottom: 75px;
}

.down-footer {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 93px;
}

.nav {
    display: flex;
    gap: 41px;
    color: aliceblue;
    list-style-type: none;
}

.nav li a {
    color: #292929;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
}

.social-media-icon {
    gap: 31px;
    display: flex;
}

.copyright p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    padding-bottom: 30px;
    text-align: center;
    color: #292929;
}